*
{
    margin: 0px;
    padding:0px;
}
.rakib{
width:100%;

}
.rakib1{

    width:900px;
    margin:auto;
    }
.dark{

    background-color: black;
    color: white;
}
.white{

    background-color:rgb(206, 94, 94);
    color:yellow;
    height:225px;
}
#top
{
    display: inline-block;
}
#jabed
{
    height:30px;
    border-radius: 8px;
}
#jabed1
{
    height:30px;
    width: 60px;
    background-color:black;
    border-radius: 25px;
    color: white;
}
#top1
{
    float:right;
}
#lift
{

    height: 40px;
    line-height: 40px;
}
#fish
{

    height: 40px;
    line-height: 40px;
}
#image
{
    border:color black;
    display:inline-block;
    font-size: 25px;
    margin-top: 25px;
}
#myprofile
{
    float:right;
    margin-top:45px;
    
}